.section-about{
    background-color:$color-grey-light-1;
    padding:15rem 0;
    margin-top: -20vh;
    margin-bottom: -10rem;
    @include respond(tab-port) { //width > 715 and width < 900
        padding:0;
        margin-top:0;
        margin-bottom: 0;
    };
    @include respond(tab-port-media) { //width > 600 and width < 715
        padding:0;
        margin-top:0;
        margin-bottom: 0;
    };
    @include respond(phone) { //width < 600
        padding:0;
        margin-top:0;
        margin-bottom: 0;
    };
    @include respond(phone-low) { //width < 555
        padding:0;
        margin-top:0;
        margin-bottom: 0;
    };
}
.section-features{
    padding: 20rem 0;       
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light,0.8),
        rgba($color-primary-dark,0.8)),
        url("../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    & > * {
        transform: skewY(7deg);
    }
  // clip-path: polygon(0 0,100% 0,100% 95vh,0 100%);
    @include respond(tab-port) { //width > 715 and width < 900
        padding:5rem 0;    
        margin-top: 8rem;
    };
    @include respond(tab-port-media) { //width > 600 and width < 715
        padding:5rem 0;   
        margin-top: 8rem;
    };
    @include respond(phone) { //width < 600
        padding:5rem 0; 
        margin-top: 8rem;   
    };
    @include respond(phone-low) { //width < 555
        padding:5rem 0;    
        margin-top: 8rem;
    };
}
.section-tours{
    background-color:$color-grey-light-1;
    padding:15rem 0 15rem 0;
    margin-top: -10rem;
    @include respond(tab-port) { //width > 715 and width < 900
        padding:10rem 0 5rem 0;    
    };
    @include respond(tab-port-media) { //width > 600 and width < 715
        padding:10rem 0 5rem 0;
    };
    @include respond(phone) { //width < 600
        padding:10rem 0 5rem 0; 
    };
    @include respond(phone-low) { //width < 555
        padding:10rem 0 5rem 0;
    };
}
.section-stories {       
    position: relative;
    padding:12rem 0; 
    @include respond(tab-port) { //width > 715 and width < 900
        padding:2rem 0;    
    };
    @include respond(tab-port-media) { //width > 600 and width < 715
        padding:2rem 0;   
    };
    @include respond(phone) { //width < 600
        padding:2rem 0;    
    };
    @include respond(phone-low) { //width < 555
        padding:2rem 0;    
    };     
}
.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);
    @include respond(tab-port) { //width > 715 and width < 900
        padding:4rem 0;    
    };
    @include respond(tab-port-media) { //width > 600 and width < 715
        padding:4rem 0;   
    };
    @include respond(phone) { //width < 600
        padding:4rem 0;    
    };
    @include respond(phone-low) { //width < 555
        padding:4rem 0;    
    };   
}
.book {
    background-image: linear-gradient(105deg,
    rgba($color-white,.9) 0%,
    rgba($color-white,.9) 50%,
    transparent 50%),
    url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.2);

    @include respond(tab-land) { //width > 900 and width < 1200
        background-size: cover; 
        padding: 0 0 2rem 1rem; 
        background-image: linear-gradient(105deg,
        rgba($color-white,.9) 0%,
        rgba($color-white,.9) 65%,
        transparent 65%),
        url(../img/nat-10.jpg);
    };   
    @include respond(tab-port-media) { //width > 600 and width < 715
        background-image: linear-gradient(105deg,
        rgba($color-white,.9) 0%,
        rgba($color-white,.9) 70%,
        transparent 65%),
        url(../img/nat-10.jpg);        
    };
    @include respond(phone) { //width < 600
          
        background-image: linear-gradient(105deg,
        rgba($color-white,.9) 0%,
        rgba($color-white,.9) 100%,
        transparent 70%),
        url(../img/nat-10.jpg);
    };
    
    &__form {
        width: 50%;
        padding:2rem;

        @include respond(tab-land) { //width > 900 and width < 1200
            padding:0;
            width: 65%; 
        }     
        @include respond(tab-port-media) { //width > 600 and width < 715
            width: 70%;        
        };
        @include respond(phone) { //width < 600
            padding: 0;    
            width: 100%; 
        };
        
    }
}
.section-footer {
    padding: 6rem 0;
    background-color: $color-row3;  
    
}